@media (max-width: 840px) {
  .title_inputs {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

  .navbar_grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
  
  .navbar_container {
    transform: scale(0.9);
  }
}

@media (max-width: 480px) {
  .title_inputs {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    transform: scale(0.8);
  }

  .navbar {
    font-size: large;
  }

  .container_list {
    margin-left: 20px;
    transform: scale(0.7);
  }

  .navbar_container {
    transform: scale(0.8);
  }
}
